<% if notice %>
  <div class="alert alert-info my-4" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning my-4" role="alert">
    <%= alert %>
  </div>
<% end %>
